{{ template "head" }}
<body>
	<h1>あははははははっはははははは</h1>
	<article>
		サインアップフォームの画面
		<form class="signup-form" action="//localhost:8080/user/signup" method="POST">
			<label>Username</label><br>
			<input type="text" name="username"><br>
			<label>email</label><br>
			<input type="email" name="emailaddress"><br>
			<label>Password</label><br>
			<input type="password" name="password"><br>
			<label>または</label><a href="//localhost:8080/login">ログイン</a><br>
			<input type="submit" value="送信">
		</form>
	</article>
</body>
{{ template "foot" }}
